@{
    ViewBag.Title = "Lista";
}

<div class="jumbotron text-center">
    <img src="~/Content/logo.png" style="width: 60%;" />
   
    <p class="lead" style="margin-top: 15px;">Lista no oficial de comercios embargados por el <a href="http://www.hacienda.gobierno.pr/" target="_blank">Departamento de Hacienda</a> en Puerto Rico. </p>   
</div>





<div class="row">

    <div class="col-md-6 col-md-push-3">       

       


        <ul id="business-list" data-bind="foreach: Data.Businesses,visible: Data.Businesses().length > 0" class="list-unstyled" style="display:none">
            <li>
                <div class="card ">
                    <div class="row" data-bind="visible: Img() !=null">
                        <div class="col-md-12 business-image"  data-bind="style: { backgroundImage: 'url(\'' + Img() + '\')' }">
                            
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>
                                    <span data-bind="text: Name"></span>
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <strong>Dirección: </strong>
                                <span data-bind="text: Address"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 dia-embargo">
                                <span class="glyphicon glyphicon-calendar " aria-hidden="true"></span> <strong>D&iacute;a embargado: </strong>
                                <span data-bind="text: DateClosed"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-dashboard " aria-hidden="true"></span> <strong>Status:</strong><span data-bind="text: CurrentStatusText"></span>
                            </div>
                        </div>
                        <div data-bind="visible: Details() !=null" class="row">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                                <strong>Detalles: </strong><span data-bind="text: Details"></span>
                            </div>
                        </div>
                        <div data-bind="visible: TotalMoneyOwed() > 0" class="row">
                            <div class="col-md-12">
                                <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
                                <strong>Cantidad Adeudada: </strong><span data-bind="text: TotalMoneyOwed"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 enlace">
                                <span class="glyphicon glyphicon-new-window" aria-hidden="true"></span>
                                <a data-bind="attr:{href:ArticleLink}" target="_blank">Enlace al art&iacute;culo</a>
                            </div>
@if (Request.IsAuthenticated)
{
                            <div  class="col-md-2 text-right">
                                <a title="Edit item" data-bind="attr: {href: '/ClosedBusinessInReview/PassThrough/'+Id()}">
                                    <span class='glyphicon glyphicon-pencil' aria-hidden='true'></span> Edit
                                </a>
                            </div>
}
                        </div>
                    </div>
                </div>
            </li>
        </ul>




    </div>
    <div class="col-md-3 sidebar-first col-md-pull-6">

    </div>
    <div class="col-md-3 sidebar-second">
        <div id="custom-search-input">
            <div class="input-group">
                <input type="text" class="search-query form-control" placeholder="Buscar" data-bind="textInput:SearchBox" />
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button" data-bind="click:InvokeSearch">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <div id="filter-by-town">
            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                Filter por municipio 
                <span class="caret"></span>
            </button>
            <ul data-bind="foreach: Data.TownTags" class="dropdown-menu info">
                <li class=""><a href="#" data-bind="text:$data, click:$root.InvokeTag "></a></li>
            </ul>
        </div>

    </div><!-- end of col-md-3 -->
    
</div>
@section scripts{
<script src="~/Scripts/Models/ClosedBusiness.js"></script>
    }