body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* lista de comercios */

.card{
    margin-bottom: 1rem;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: .25em;
    overflow: hidden;

    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.09);
}
.business-image {
    height:200px;
    background-position: center;
    background-size: cover;
}

.business-image img {
    width: 100%;
}

.card-body {
    padding: 1.25rem;
}

/* CLOSED BUSINESS ADMIN */
.business address {
    margin-bottom: 0;
}
.closed-business-admin .heading {
    font-weight: bold;
}
.closed-business-admin .business {
    margin-bottom:1em;
}